RABBITMQ_CONNECTION_STRING=amqp://demo:demo@rabbitmq:5672/
QUEUE_NAME=Backend
REPLY_QUEUE_NAME=Frontend
MESSAGE_TYPE=PythonRabbitMqInterop.Messages.SubmitOrder
APP_ID=Frontend
QUEUE_WAIT_TIMEOUT_SECONDS=90
SEND_INTERVAL_SECONDS=5
PARTICULARSOFTWARE_LICENSE=<paste-license-contents-here>
