RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USERNAME=demo
RABBITMQ_PASSWORD=demo
QUEUE_NAME=PythonRabbitMqInterop.Receiver
MESSAGE_TYPE=PythonRabbitMqInterop.Messages.SubmitOrder
LICENSE_FILE_PATH=/license.xml
